</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
    function imprimirCampos() {
        // Coletando os valores dos campos do formulário
        const campos = {
            fornecedor: document.getElementById('fornecedor').value,
            pedido: document.getElementById('pedido').value,
            data: document.getElementById('data').value,
            name: document.getElementById('name').value,
            email: document.getElementById('email').value,
            celular: document.getElementById('celular').value,
            cpf: document.getElementById('cpf').value,
            insc_estadual: document.getElementById('insc_estadual').value,
            rua: document.getElementById('rua').value,
            bairro: document.getElementById('bairro').value,
            cep: document.getElementById('cep').value,
            uf: document.getElementById('uf').value,
            city: document.getElementById('city').value,
            rastreio: document.getElementById('rastreio').value,
            status: document.getElementById('status').value,
            metodo_envio: document.getElementById('metodo_envio').value,
            total_sem_frete: document.getElementById('total_sem_frete').value,
            valor_total: document.getElementById('valor_total').value,
            forma_pgto: document.getElementById('forma_pgto').value,
            frete: document.getElementById('frete').value
        };

        const produtos = [
            {
                nome: document.getElementsByName('produto')[0].value,
                numero_serie: document.getElementById('numero_serie').value,
                valor: document.getElementById('valor').value,
                qtd: document.getElementById('qtd').value
            },
            {
                nome: document.getElementsByName('produto2')[0].value,
                numero_serie: document.getElementById('numero_serie2').value,
                valor: document.getElementById('valor2').value,
                qtd: document.getElementById('qtd2').value
            },
            {
                nome: document.getElementsByName('produto3')[0].value,
                numero_serie: document.getElementById('numero_serie3').value,
                valor: document.getElementById('valor3').value,
                qtd: document.getElementById('qtd3').value
            },
            {
                nome: document.getElementsByName('produto4')[0].value,
                numero_serie: document.getElementById('numero_serie4').value,
                valor: document.getElementById('valor4').value,
                qtd: document.getElementById('qtd4').value
            },
            {
                nome: document.getElementsByName('produto5')[0].value,
                numero_serie: document.getElementById('numero_serie5').value,
                valor: document.getElementById('valor5').value,
                qtd: document.getElementById('qtd5').value
            }
        ];

        // Função para criar uma seção HTML
        function criarSecao(titulo, campos) {
            let conteudo = `<div class="section"><h2>${titulo}</h2>`;
            for (let campo in campos) {
                if (campos[campo]) {
                    conteudo += `<p><strong>${campo}:</strong> ${campos[campo]}</p>`;
                }
            }
            conteudo += `</div>`;
            return conteudo;
        }

        // Criando o conteúdo HTML para impressão
        let conteudoParaImpressao = `
            <div class="container">
                ${criarSecao('Cliente', {
                    'Nome': campos.name,
                    'E-mail': campos.email,
                    'Celular': campos.celular,
                    'CNPJ / CPF': campos.cpf,
                    'Inscrição Estadual': campos.insc_estadual,
                    'Rua': campos.rua,
                    'Bairro': campos.bairro,
                    'Cep': campos.cep,
                    'Estado': campos.uf,
                    'Cidade': campos.city
                })}
                ${criarSecao('Pedido', {
                    'Fornecedor': campos.fornecedor,
                    'Número do Pedido': campos.pedido,
                    'Data': campos.data,
                    'Número de Rastreio': campos.rastreio,
                    'Status': campos.status,
                    'Método de Envio': campos.metodo_envio,
                    'Total Sem Frete': campos.total_sem_frete,
                    'Valor do Frete': campos.frete,
                    'Valor Total': campos.valor_total,
                    'Forma de Pagamento': campos.forma_pgto
                })}
            </div>
            <div class="container">
                <div class="section">
                    <h2>Produtos</h2>
                    ${produtos.map(produto => {
                        if (produto.nome || produto.numero_serie || produto.valor || produto.qtd) {
                            return `
                                <p><strong>Produto:</strong> ${produto.nome}</p>
                                <p><strong>Número de Série:</strong> ${produto.numero_serie}</p>
                                <p><strong>Valor:</strong> ${produto.valor}</p>
                                <p><strong>Quantidade:</strong> ${produto.qtd}</p>
                            `;
                        }
                        return '';
                    }).join('<br>')}
                </div>
            </div>
        `;

        // Abrindo uma nova janela para impressão
        const janelaDeImpressao = window.open('', '', 'width=800,height=600');
        janelaDeImpressao.document.write(`
            <html>
            <head>
                <title>Impressão de Pedido</title>
                <style>
                    @media print {
                        body {
                            font-family: Arial, sans-serif;
                        }
                        .container {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                        }
                        .section {
                            width: 48%;
                            margin: 1%;
                            padding: 10px;
                            border: 1px solid #000;
                        }
                        .section h2 {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        .section p {
                            margin: 5px 0;
                        }
                    }
                </style>
            </head>
            <body>${conteudoParaImpressao}</body>
            </html>
        `);
        janelaDeImpressao.document.close();
        janelaDeImpressao.print();
    }
</script>
<script>
    function calcularTotal() {
        var totalSemFrete = 0;

        // Calcular para cada produto
       
            var valor = parseFloat(document.getElementById('valor').value) || 0;
            var qtd = parseInt(document.getElementById('qtd').value) || 1;
            var subtotal = valor * qtd;

            var valor2 = parseFloat(document.getElementById('valor2').value) || 0;
            var qtd2 = parseInt(document.getElementById('qtd2').value) || 1;
            var subtotal2 = valor2 * qtd2;

            var valor3 = parseFloat(document.getElementById('valor3').value) || 0;
            var qtd3 = parseInt(document.getElementById('qtd3').value) || 1;
            var subtotal3 = valor3 * qtd3;

            var valor4 = parseFloat(document.getElementById('valor4').value) || 0;
            var qtd4 = parseInt(document.getElementById('qtd4').value) || 1;
            var subtotal4 = valor4 * qtd4;

            
            var valor5 = parseFloat(document.getElementById('valor5').value) || 0;
            var qtd5 = parseInt(document.getElementById('qtd5').value) || 1;
            var subtotal5 = valor5 * qtd5;

                        

            

             totalSemFrete += subtotal + subtotal2 + subtotal3 + subtotal4 + subtotal5;
        

        // Atualizar o campo no formulário
        document.getElementById('total_sem_frete').value = totalSemFrete.toFixed(2);

        // Chamar a função para calcular o valor total considerando o frete
        calcularValorTotal();
    }

    function calcularValorTotal() {
        var totalSemFrete = parseFloat(document.getElementById('total_sem_frete').value) || 0;
        var frete = parseFloat(document.getElementById('frete').value) || 0;

        var valorTotal = totalSemFrete + frete;

        // Atualizar o campo no formulário
        document.getElementById('valor_total').value = valorTotal.toFixed(2);
    }

    // Adicionar event listeners para chamar as funções ao alterar os campos de valor e quantidade
    document.addEventListener("DOMContentLoaded", function() {
        for (var i = 1; i <= 5; i++) {
            document.getElementById('valor' + i).addEventListener('input', function() {
                calcularTotal();
            });
            document.getElementById('qtd' + i).addEventListener('input', function() {
                calcularTotal();
            });
        }

        document.getElementById('frete').addEventListener('input', function() {
            calcularValorTotal();
        });
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
document.getElementById('cep').addEventListener('blur', function() {
    var cep = this.value.replace(/\D/g, '');

    if (cep.length === 8) {
        axios.get(`https://viacep.com.br/ws/${cep}/json/`)
            .then(function(response) {
                if (!response.data.erro) {
                    document.getElementById('rua').value = response.data.logradouro;
                    document.getElementById('bairro').value = response.data.bairro;
                    document.getElementById('city').value = response.data.localidade;
                    document.getElementById('uf').value = response.data.uf;
                } else {
                    alert('CEP não encontrado.');
                }
            })
            .catch(function(error) {
                console.error('Erro ao buscar endereço:', error);
                alert('Erro ao buscar endereço. Tente novamente.');
            });
    } else {
        alert('CEP inválido.');
    }
});
</script>


</body>
</html>
